---
layout: compress
title: Page Not Found
---
<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include navbar.html %}

        <section id="page-404" class="hero is-fullheight has-background-dark">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-size-1-desktop is-size-2-mobile has-text-light">
                        404
                    </h1>
                    <h2 class="subtitle mb-5 is-size-4-desktop is-size-5-mobile has-text-light">
                        Oops! The page you're looking for doesn't exist.
                    </h2>
                    <div class="columns is-centered is-mobile">
                        <div class="column is-3-desktop is-5-tablet is-10-mobile">
                            <a class="button is-large is-fullwidth" href="/">
                                Back To Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>