<section id="skills" class="section">
    <div class="container has-text-centered">
        <!-- Heading -->
        <h1 class="title is-size-1-desktop is-size-2-mobile">
            Skills
        </h1>
        <h2 class="subtitle mt-2 is-size-5-desktop is-size-6-mobile ls-1 is-italic">
            What I Excel At.
        </h2>
        <hr>

        <!-- Skill Card Grid -->
        {% if site.data.skills.size > 0 %}
            <div class="columns is-multiline">
                {% for skill in site.data.skills %}
                    <div class="column is-half">
                        <div class="box">
                            <figure class="image mb-4 is-64x64">
                                <img src="{{ skill.icon }}" alt="{{ skill.title }} Icon">
                            </figure>
                            <h3 class="title mb-2 is-size-4 is-uppercase">
                                {{ skill.title }}
                            </h3>
                            <p>
                                {{ skill.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>
                No skills listed!
            </p>
        {% endif %}
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function()
    {
        const cards = document.querySelectorAll("#skills .columns .box");

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting)
                {
                    entry.target.classList.add("flip-in");
                    observer.unobserve(entry.target);
                }
            });
        }, {
            threshold: 0.15
        });

        cards.forEach(card => observer.observe(card));
    });
</script>