<section id="projects" class="section">
    <div class="container has-text-centered">
        <!-- Heading -->
        <h1 class="title is-size-1-desktop is-size-2-mobile">
            Projects
        </h1>
        <h2 class="subtitle mt-2 is-size-5-desktop is-size-6-mobile ls-1 is-italic">
            A Collage Of My Works.
        </h2>
        <hr>

        <!-- Project Grid -->
        {% if site.data.projects.size > 0 %}
            <div class="columns is-multiline is-mobile">
                {% for project in site.data.projects %}
                    <div class="column is-one-third">
                        <a class="project-card" href="{{ project.url }}" target="_blank">
                            <div class="image-wrapper">
                                <img src="{{ project.image }}" alt="{{ project.title }} Preview">
                                <div class="overlay">
                                    <h3 class="title mb-1">{{ project.title }}</h3>
                                    <p class="is-italic">{{ project.category }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No projects yet!</p>
        {% endif %}
    </div>
</section>
