$breakpoint-touch: 1023px;
$breakpoint-mobile: 768px;
$text-color-light: #36454f;
$text-color-dark: #faf9f6;
$text-color-debug: #ffff00;

@import "/assets/css/bulma.min.css";
@import "/assets/css/bulma-tooltip.min.css";
@import "/assets/css/flickity.min.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Poppins", sans-serif;
    color: $text-color-light;

    .title, .subtitle
    {
        color: $text-color-light;
    }

    .button
    {
        border-radius: 9999px;
        background-color: #ff5c00;
        font-family: "Fira Code", monospace;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;

        &:hover
        {
            background-color: #ff991c;
        }
    }

    .ls-1
    {
        letter-spacing: 0.05rem;
    }

    .ls-2
    {
        letter-spacing: -0.05rem;
    }

    .mobile-only
    {
        display: none;

        @media screen and (max-width: $breakpoint-touch)
        {
            display: inline;
        }
    }

    // Intended for button containers. Use this class alongside Bulma's is-mobile class.
    .buttons-wrapper
    {
        @media screen and (max-width: $breakpoint-touch)
        {
            justify-content: center;
        }
    }
}

::placeholder
{
    font-family: "Poppins", sans-serif;
}

.navbar
{
    background: linear-gradient(to right, rgba(0, 119, 182, 0.6), rgba(144, 224, 239, 0.6));
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
}