$text-color: #36454f;

@import "/assets/css/bulma.min.css";
@import "/assets/css/bulma-tooltip.min.css";
@import "/assets/css/flickity.min.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body
{
    font-family: "Poppins", sans-serif;
    color: $text-color;

    .title, .subtitle
    {
        color: $text-color;
    }

    .button
    {
        border-radius: 9999px;
        background-color: #ff5c00;
        color: #fff;
        font-family: "Fira Code", monospace;
        font-weight: bold;
        text-transform: uppercase;

        &:hover
        {
            background-color: #ff991c;
        }
    }

    uk
    {
        font-kerning: 0.5rem;
    }
}