$breakpoint-touch: 1023px;
$breakpoint-mobile: 768px;
$text-color-light: #36454f;
$text-color-dark: #faf9f6;
$text-color-debug: #ffff00;

@import "/assets/css/bulma.min.css";
@import "/assets/css/bulma-tooltip.min.css";
@import "/assets/css/flickity.min.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Poppins", sans-serif;
    color: $text-color-light;

    input, textarea, ::placeholder
    {
        font-family: "Poppins", sans-serif;
    }

    .title, .subtitle
    {
        color: $text-color-light;
    }

    .button
    {
        border-radius: 9999px;
        background-color: #ff5c00;
        font-family: "Fira Code", monospace;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;

        &:hover
        {
            background-color: #ff991c;
        }
    }

    .ls-1
    {
        letter-spacing: 0.05rem;
    }

    .ls-2
    {
        letter-spacing: -0.05rem;
    }

    // Makes it so that the element only displays on computers.
    .desktop-only
    {
        @media screen and (max-width: $breakpoint-touch)
        {
            display: none;
        }
    }

    // Makes it so that the element only displays on mobile devices.
    .touch-only
    {
        display: none;

        @media screen and (max-width: $breakpoint-touch)
        {
            display: inline;
        }
    }

    // Intended for button containers. Use this class alongside Bulma's is-mobile class.
    .buttons-wrapper-touch
    {
        @media screen and (max-width: $breakpoint-touch)
        {
            justify-content: center;
        }
    }

    // Intended for button containers. Use this class alongside Bulma's is-mobile class.
    .buttons-wrapper-mobile
    {
        @media screen and (max-width: $breakpoint-mobile)
        {
            justify-content: center;
        }
    }
}

.navbar
{
    background: linear-gradient(to right, rgba(0, 119, 182, 0.6), rgba(144, 224, 239, 0.6));
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
}

.footer
{
    background: linear-gradient(to bottom, #343434, #2e2e2e);
    border-top: 2px solid rgba(255, 255, 255, 0.2);

    h3, p, strong
    {
        color: $text-color-dark;
    }

    a
    {
        position: relative;
        color: #aec6cf;
        transition: all 0.3s ease;

        &::after
        {
            position: absolute;
            width: 0px;
            height: 1px;
            left: 0px;
            bottom: -2px;
            background-color: #b3ebf2;
            transition: width 0.3s ease;
            content: "";
        }

        &:hover
        {
            color: #b3ebf2;

            &::after
            {
                width: 100%; // Animated underline effect.
            }
        }
    }

    .buttons
    {
        @media screen and (max-width: $breakpoint-mobile)
        {
            justify-content: center;
        }
    }
}